gridster {
  background-color: #ffffff;
  &.fixed {
    overflow: initial;
  }
  .gridster-column {
    border-left-color: #000000;
    border-right-color: #000000;
  }
}

gridster-item {
    background-color: aliceblue;
}
